body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
} 

/* Set a style for the rest of the elements besides the header elements on the index.html page */
.postButtons {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
input.postButtons {
   width: 90px;
   padding: 10px;
   cursor: pointer;
   font-weight: 600;
   font-size: 90%;
   background: #0000ff;
   color: #fff;                  
   
   margin: 10px 10px 0px 0px;
   font-family: Arial, Helvetica, sans-serif;

   display: flex;
   flex-direction: row;
   background-color: darkgoldenrod;
   align-items: center;
   justify-content: center;
   color: black;
  }
  body {
   font-family: Arial, sans-serif;
   display: flex;
   flex-direction: column;
   background-color: #fff;
   color: #333;
   align-items: center;
   justify-content: center;
}

.container {
   display: flex;
   width: 80%;
   flex-direction: column;
   justify-content: center;
}

@media (min-width: 992px) {
   .container {
       width: 30%;
   }
}

form {
   display: flex;
   flex-direction: column;
}

input {
   padding: 10px;
   outline: none;
}

.label-text {
   font-weight: bold;
   margin: 10px 0;
}

a {
   font-size: 14px;
   color: #186CA3;
   text-decoration: none;
}

.signin-btn {
   background-color: orange;
   padding: 10px;
   border: none;
   color: #fff;
   font-size: 16px;
   margin-top: 20px;
   cursor: pointer;
}
/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 
 /* Modal Content/Box */
 .modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
 }
 
 /* The Close Button */
 .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }
                                 
